body {
  background: radial-gradient(circle at top center, #1f3756, #141539);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  height: 100px;
}

.header {
  padding-top: 30px;
}

.main {
  flex-grow: 1;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.content {
  width: 85%;
  margin: 0 auto;
}

.outline {
  border: 3px solid #606e85;
  border-radius: 8px;
}

.outline--thin {
  border: 2px solid #606e85;
  border-radius: 8px;
}

.text--score {
  color: #2a46c0;
}

.text--dark {
  color: #3b4363;
}

.text--while {
  color: rgba(237, 237, 237, 0.95);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar__title {
  list-style: none;
  font-size: 20px;
  padding: 20px 0px 20px 25px;
  max-width: 100px;
  line-height: 17px;
}

.bar__score {
  background: rgba(237, 237, 237, 0.95);
  margin: 8px 10px 8px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.bar__score-label {
  font-size: 10px;
  letter-spacing: 2px;
}

.bar__score-number {
  font-size: 40px;
  line-height: 40px;
}

.board {
  position: relative;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.board__bg {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board__token {
  cursor: pointer;
  position: absolute;
  width: 115px;
  height: 115px;
  border-radius: 100px;
}

.board__house-place {
  cursor: auto;
  background: rgba(0, 0, 0, 0.178);
}

.board__token-background {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(237, 237, 237, 0.95);
  border-radius: inherit;
  box-shadow: 0 -6px 0 #b5b5b5;
}
.board__token-background::after {
  content: "";
  position: absolute;
  top: -21px;
  left: -15px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.board__token-paper {
  top: 25%;
  left: 0%;
  transform: translateY(-25%);
}

.board__token-scissors {
  top: 25%;
  right: 0%;
  transform: translateY(-25%);
}

.board__token-rock {
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.board__token--paper::after {
  border: 15px solid #5671f5;
  box-shadow: 0 7px 0px #3350e1;
}

.board__token--scissors::after {
  border: 15px solid #eaac2e;
  box-shadow: 0 7px 0px #bf7d03;
}

.board__token--rock::after {
  border: 15px solid #dc415e;
  box-shadow: 0 7px 0px #d01638;
}

.picked-scissor {
  transition: transform 2s;
  transform: translate(-160%, -25%);
}

.picked-scissor--paper {
  transition: transform 2s;
  transform: translate(80%, 145%);
}

.picked-scissor--rock {
  transition: transform 2s;
  transform: translate(40%, -190%);
}

.picked-rock {
  transition: transform 2s;
  transform: translate(-130%, -190%);
}

.picked-rock--paper {
  transition: transform 2s;
  transform: translate(160%, -25%);
}

.picked-rock--scissor {
  transition: transform 2s;
  transform: translate(-80%, 140%);
}

.hide {
  display: none;
}

.rules {
  cursor: pointer;
  background: transparent;
  display: block;
  margin: 0px auto 50px auto;
  padding: 10px 35px;
  font-size: 16px;
  letter-spacing: 2px;
}

/*# sourceMappingURL=style.css.map */
